.page-header {
    border-bottom: 2px solid dimgray;
    color: dimgray;
    margin: 10px 0 30px 0;
}

footer {
    max-height: 100px;
}

.highlight span.hll span {
    background-color: #ffffcc;
    display: inline-block;
    width: auto; /* 100% is not working in some cases */
}

td.linenos .codecopy-btn {
    display: none !important; /* Hide the button in the line numbers column */
}

/* a special table class with 8 columns for the "even" and "odd" columns */
.custom-8col-table table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.custom-8col-table th,
.custom-8col-table td {
    padding: 6px 8px;
    border: 1px solid #ddd;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

/* Narrow odd columns */
.custom-8col-table td:nth-child(odd),
.custom-8col-table th:nth-child(odd) {
    width: 8%;
}

/* Even columns fill remaining space */
.custom-8col-table td:nth-child(even),
.custom-8col-table th:nth-child(even) {
    width: 17%;
}
